<!-- Add your site or application content here -->
<section class="navbar-default wrapper-navbar header-wrapper" ng-controller="NavbarCtrl">
  <div class="header">
    <div class="" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#top" class="navbar-brand" >
            <img src="assets/images/yellowme6.png"  width="150" />
          </a>
        </div>
        <div class="collapse navbar-collapse" id="js-navbar-collapse">
          <ul class="nav navbar-nav">
            <li ng-class="{ active: isCurrentPath('/') }"><a href="/">Servicios</a></li>
            <li ng-class="{ active: isCurrentPath('/portfolio') }"><a ng-href="/portfolio">Portafolio</a></li>
            <li ng-class="{ active: isCurrentPath('/clients') }"><a ng-href="/clients">Clientes</a></li>
            <li ng-class="{ active: isCurrentPath('/about') }"><a class="hireus" ng-href="/about">Contratanos</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>